name: Reusable mock test workflow for Swift Package


on:
  workflow_call:


jobs:
  mock_test:
    name: Test on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
        #swift: ["6.1"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check action type
        run: |
          echo "OS: $RUNNER_OS"
          echo "Repository: $GITHUB_REPOSITORY"
          echo "Commit: $GITHUB_SHA"
          echo "Branch: `git rev-parse --abbrev-ref HEAD`"

      # - name: Prepare Swift environment
      #   uses: swift-actions/setup-swift@v2
      #   with:
      #     swift-version: ${{ matrix.swift }}

      # - name: Get Swift version
      #   run: swift --version

      # - name: Prepare Swift enviroment
      #   run: |
      #     if [ "$RUNNER_OS" == 'macOS' ];then
      #       if [ "$RUNNER_ARCH" == 'X64' ];then
      #         wget -q ${{ vars.SWIFT_MACOS }} -O ~/swift.pkg
      #       elif [ "$RUNNER_ARCH" == 'ARM64' ];then
      #         wget -q ${{ vars.SWIFT_MACOS }} -O ~/swift.pkg
      #       else
      #         echo "Unsupported ARCH $RUNNER_ARCH"
      #         exit 1
      #       fi
      #       sudo mkdir -p /Library/Developer/Toolchains
      #       sudo installer -pkg ~/swift.pkg -target /Library/Developer/Toolchains
      #     elif [ "$RUNNER_OS" == 'Linux' ];then
      #       source /etc/os-release
      #       if [ "$VERSION_ID" = "22.04" ]; then
      #         wget -q ${{ vars.SWIFT_X64_LINUX22 }} -O ~/swift.tar.gz
      #       elif [ "$VERSION_ID" = "24.04" ]; then
      #         wget -q ${{ vars.SWIFT_X64_LINUX24 }} -O ~/swift.tar.gz
      #       else
      #         echo "Unknown Ubuntu version"
      #         exit 1
      #       fi
      #       mkdir ~/mm-sdk
      #       tar -zxvf ~/swift.tar.gz --strip-components 1 -C ~/mm-sdk
      #     fi

      - name: Prepare Swift enviroment
        run: |
          if [ "$RUNNER_OS" == 'macOS' ];then
            curl -O https://download.swift.org/swiftly/darwin/swiftly.pkg && \
            installer -pkg swiftly.pkg -target CurrentUserHomeDirectory && \
            ~/.swiftly/bin/swiftly init --quiet-shell-followup -y && \
            . "${SWIFTLY_HOME_DIR:-$HOME/.swiftly}/env.sh" && \
            hash -r
          elif [ "$RUNNER_OS" == 'Linux' ];then
            source /etc/os-release
            curl -O https://download.swift.org/swiftly/linux/swiftly-$(uname -m).tar.gz && \
            tar zxf swiftly-$(uname -m).tar.gz && \
            ./swiftly init --quiet-shell-followup -y && \
            . "${SWIFTLY_HOME_DIR:-$HOME/.local/share/swiftly}/env.sh" && \
            hash -r
          fi
          
          echo "SWIFTLY_HOME_DIR=${SWIFTLY_HOME_DIR}" >>"${GITHUB_ENV}"
          echo "SWIFTLY_BIN_DIR=${SWIFTLY_BIN_DIR}" >>"${GITHUB_ENV}"
          echo "${SWIFTLY_BIN_DIR}" >>"${GITHUB_PATH}"

      - name: Get Swift version
        run: swiftc --version

      - name: Prepare mm-sdk
        id: prepare-sdk
        run: |
          echo "Get mm-sdk on $RUNNER_OS $RUNNER_ARCH"
          if [ "$RUNNER_OS" == 'macOS' ];then
            if [ "$RUNNER_ARCH" == 'X64' ];then
              wget ${{ vars.SDK_X64_MACOS }} -O ~/sdk.zip
            elif [ "$RUNNER_ARCH" == 'ARM64' ];then
              wget ${{ vars.SDK_ARM64_MACOS }} -O ~/sdk.zip
            else
              echo "Unsupported ARCH $RUNNER_ARCH"
              exit 1
            fi
            unzip ~/sdk.zip -d ~/
          elif [ "$RUNNER_OS" == 'Linux' ];then
            source /etc/os-release
            if [ "$VERSION_ID" = "22.04" ]; then
              wget ${{ vars.SDK_X64_LINUX22 }} -O ~/sdk.tar.bz2
            elif [ "$VERSION_ID" = "24.04" ]; then
              wget ${{ vars.SDK_X64_LINUX24 }} -O ~/sdk.tar.bz2
            else
              echo "Unknown Ubuntu version"
              exit 1
            fi
            tar -jxvf ~/sdk.tar.bz2 -C ~/
          else
            echo "Unrecognized OS $RUNNER_OS"
            exit 1
          fi
          echo "SDK_VERSION=$(~/mm-sdk/usr/mm/mm --version)" >> $GITHUB_OUTPUT
      
      - name: Abort if mm-sdk version not match
        if: ${{ steps.prepare-sdk.outputs.SDK_VERSION != vars.SDK_VERSION }}
        run: |
          echo "Required SDK version: ${{ vars.SDK_VERSION }}"
          echo "Current SDK version: ${{ steps.prepare-sdk.outputs.SDK_VERSION }}"
          exit 1

      - name: Run mock test
        run: |
          cd $GITHUB_WORKSPACE
          rm -rf .build
          rm -rf Package.resolved
          rm -rf info.lcov
          ~/mm-sdk/usr/mm/mm host-test
          if [ ! -f "info.lcov" ]; then
            exit 1 
          fi

      - name: Upload code report
        uses: codecov/codecov-action@v4
        with:
          files: ./info.lcov